Source/SepiaTests/Schematron/Samples/Arabic.sch

<?xml version="1.0" encoding="utf-8" ?>
<schema xmlns="http://www.ascc.net/xml/schematron">
  <title xml:space="default">The title is "<dir value="rtl" xml:lang="ar">مفتاح معايير الويب!</dir>" in Arabic.</title>
  <pattern name="Testing">
    <rule context="dummy">
      <report test=".">dummy not allowed.</report>
    </rule>
  </pattern>
</schema>